<template name="header">
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand"></h3>
            <ul class="nav masthead-nav">
                <li><a href="{{pathFor 'home'}}">Accueil</a></li>
                <li><a href="{{pathFor 'play'}}">Jouer</a></li>
                <li ><a href="{{pathFor 'about'}}">A propos</a></li>
                <li><a href="{{pathFor 'leroux'}}">Leroux</a></li>
            </ul>
        </div>
    </div>
</template>