<template name="header">
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">{{{ brand }}}</h3>
            <ul class="nav masthead-nav">
                <li class="{{#if $.Session.equals activePage home}}active{{/if}}"><a href="{{pathFor 'home'}}">{{home}}</a></li>
                <li class="{{#if atRoute 'play'}}active{{/if}}"><a href="{{pathFor 'play'}}">{{play}}</a></li>
                <li class="{{#if atRoute 'about'}}active{{/if}}"><a href="{{pathFor 'about'}}">{{about}}</a></li>
            </ul>
        </div>
    </div>
</template>